Dockerfile_bak
Dockerfile
.DS_Store
.dockerignore
.git
.cache
*.md
/logs
.idea/
*.egg
ignorethisfolder/
eggs/
project.egg-info/
dbs/
items/

venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/


