<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>ECharts 短线指标</title>
    <!-- 引入 ECharts 文件 -->
    <script src="../static/js/echarts.js"></script>
    <!-- 引入bootstrap-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!--  先拿到从flask传来的数据-->
<script type="text/javascript">
    timestamps = []
    zhqds = []
    most_recent_day_zhqds = []
    most_recent_day_timestamps = []
</script>

{% for timestamp in timestamps %}
<script type="text/javascript">
    timestamps.push('{{timestamp}}');
</script>
{% endfor %}

{% for zhqd in zhqds %}
<script type="text/javascript">
    zhqds.push('{{zhqd}}');
</script>
{% endfor %}

{% for timestamp in most_recent_day_timestamps %}
<script type="text/javascript">
    most_recent_day_timestamps.push('{{timestamp}}');
</script>
{% endfor %}

{% for zhqd in most_recent_day_zhqds %}
<script type="text/javascript">
    most_recent_day_zhqds.push('{{zhqd}}');
</script>
{% endfor %}

<body>
<div class=".container-fluid">
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div class="col-md-6" id="motion_strength" style="height:660px;"></div>
    <div class="col-md-6" id="last_trade_day_motion_strength" style="height:660px;">text
    </div>
</div>

<!-- 引入 定义好ECharts样式的line_chart 文件 -->
<script src="../static/js/line_chart.js"></script>
<script type="text/javascript">
    //近30个交易日的市场情绪
    let chart_30day = new LineChart("市场情绪", timestamps, zhqds)
    // 基于准备好的dom，初始化市场情绪echarts实例
    motion_strength_chart = echarts.init(document.getElementById('motion_strength'));
    // 使用刚指定的配置项和数据显示图表。
    motion_strength_chart.setOption(chart_30day.option);

    //近最近1个交易日的市场情绪
    let chart_last_trade_day = new LineChart("最近一个交易日情绪", most_recent_day_timestamps, most_recent_day_zhqds)
    // 基于准备好的dom，初始化市场情绪echarts实例
    last_trade_day_motion_strength_chart = echarts.init(document.getElementById('last_trade_day_motion_strength'));
    // 使用刚指定的配置项和数据显示图表。
    last_trade_day_motion_strength_chart.setOption(chart_last_trade_day.option);

</script>
</body>
</html>