<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <title>ECharts 短线指标</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="../static/js/echarts.js"></script>
  </head>

  <script type="text/javascript">
     timestamps=[]
     zhqds=[]
    </script>

  {% for timestamp in timestamps %}
     <script type="text/javascript">
            timestamps.push('{{timestamp}}');
     </script>
  {% endfor %}

   {% for zhqd in zhqds %}
     <script type="text/javascript">
            zhqds.push('{{zhqd}}');
     </script>
  {% endfor %}

  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
      var option = {
        title: {
            text: 'ECharts展示'
        },
		xAxis: {
            data: timestamps,
        },
		yAxis: {

        },
		series: [
			{
				//data: [10, 22, 28, 23, 19],
                data: zhqds,
				type: 'line',
				smooth: true
			}
		]
	  };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  </body>
</html>